@model CheeseMVC.ViewModels.AddMenuViewModel

@{
    ViewBag.Title = "test title";

}

<h1>ADD MENU</h1>


<form asp-contorller="Menu" asp-action="Add" method="Post">

    <div class="form-group">
        <label asp-for="Name"></label>
        <input class="form-group" asp-for="Name" />
        <span asp-validation-for="Name"></span>
        <input type="submit" value=" Add Menu" />
    </div>

</form>

