<h1> @ViewBag.title </h1>

@model List<CheeseMVC.Models.Menu>

    <ul>
        @foreach (var eachMenu in Model)
        {
            //
            <li><a asp-controller="Menu" asp-action="ViewMenu" asp-route-id="@eachMenu.ID">@eachMenu.Name</a></li>

        }
</ul>
    <p><a asp-controller="Menu" asp-action="Add">Add Menu</a></p>
